.navbar-default {
    background-color: #fff;
    border-color: #fff;
        border-bottom-color: rgb(255, 255, 255);
    border-bottom: 1px solid #cecccc;
    height: 60px;
    color: #000;
    padding-top: 5px;
}


.navbar {
    border-radius: 0px;
}